<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id ="client" class="com.tkach.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Smith"/>
    </bean>

    <bean id ="eventLogger" class="com.tkach.ConsoleEventLogger"/>

    <bean id ="app" class="com.tkach.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>


    <bean id ="event" class="com.tkach.Event" scope ="prototype">
        <constructor-arg >
            <bean class="java.util.Date"/>
        </constructor-arg>

    </bean>

    <bean id ="fileEvent" class="com.tkach.FileEventLogger" init-method="init">
        <constructor-arg value="d:/tkach.txt"/>

    </bean>

    <bean id ="casheFileEvent" class="com.tkach.CachFileEventLogger" destroy-method="destroy" >
        <constructor-arg value="d:/tkach.txt"/>
        <constructor-arg value="30"/>

    </bean>

</beans>